.boton-clear {
    flex: 1 1;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    background-color:#7bdcb5;
    color: black;
    border-radius: 25px;
    border: 3px solid black;
    margin: 4px;
    cursor: pointer;
}

.boton-clear:hover {
    background-color:#1dda8e;
    
   border-radius: 50%;

   -moz-transition: all .51s;
   -o-transition: all .51s;
   -webkit-transition: all .51s;
   transition: all .51s;
}

