* {
  padding: 0;
  margin: 0;
}

.App {
  font-family: Lato, sans-serif;
  height: 100vh;
  padding-top: 10px;
  background-color: #1b2b32;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}


.contenedor-logo {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.logo-react {
  height: 65px;
  width: 65px;
  padding-left: 15px;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: aliceblue;
  border-radius: 20px;
  border: 5px solid black;
  -webkit-box-shadow: -44px 24px 32px -6px rgba(0,0,0,0.6);
  -moz-box-shadow: -44px 24px 32px -6px rgba(0,0,0,0.6);
  box-shadow: -44px 24px 32px -6px rgba(0,0,0,0.6);

}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}