* {
  padding: 0;
  margin: 0;
}


h1 {
  padding-left: 4rem;
}

body {
  background-color: #1b2b32;
}

.App {
  font-family: Lato, sans-serif;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  
}

.react-logo-contenedor {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding-bottom: 30px;
}

.react-logo {
  width: 105px;
  height: 85px;
  padding-left: 20px;
}

.contenedor-calculadora {
  width: 360px;
  height: 580px;
  padding: 14px;
  background-color: #2e2e2e;
  border-radius: 20px;
  border: 5px solid black;
  padding-top: 40px;
  box-shadow: -44px 24px 32px -6px rgb(0 0 0 / 60%);

}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}